.about {
    min-height: 70vh;
    background: #FDFDFD;
    padding-top: 9vh;
    padding-bottom: 12vh;
    &__items {
        .row {
            align-items: center;
        }
    }
    &__img {
        margin-top: 5vh;
        img {
            height: 20vh;
            display: block;
            margin: 0 auto;
        }
    }
    &__text {
        margin-top: 5vh;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        color: $titles-text-color;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
    }
}