.pageup {
    img {
        width: 40px;
    }
    position: fixed;
    bottom: 40px;
    right: -40px;
    z-index: 50;
    transition: 0.2s;
    &_active {
        transition: 0.2s;
        right: 40px;
    }
}