.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}
.divider {
    width: 70px;
    height: 4px;
    background: #FF0000;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}